dataset_archive.zip filter=lfs diff=lfs merge=lfs -text
plant-leaves-super-resolution-challenge.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
dataset/sample_submission.csv filter=lfs diff=lfs merge=lfs -text
